In [1]:
import urllib.request as ul
import bs4
import sys
import time
import json
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
Location=r'IMDb0425.xlsx'
df = pd.read_excel(Location)
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Dome_perc,Overseas,Over_perc,Year,Rating,Imdb_id,star1,star2,director1,director2,dir_id,star1_id,star2_id
0,1,1,Avatar,Fox,2788.0,760.5,0.273,2027.5,0.727,2009^,7.9,tt0499549,Sam Worthington,Zoe Saldana,James Cameron,NaN,nm0000116,nm0941777,nm0757855
1,2,2,Titanic,Par.,2186.8,658.7,0.301,1528.1,0.699,1997^,7.7,tt0120338,Leonardo DiCaprio,Kate Winslet,James Cameron,NaN,nm0000116,nm0000138,nm0000701
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,0.452,1118.8,0.548,2015,8.4,tt2488496,Harrison Ford,Mark Hamill,J.J. Abrams,NaN,nm0009190,nm0000148,nm0000434
3,4,4,Jurassic World,Uni.,1670.4,652.3,0.390,1018.1,0.610,2015,7.1,tt0369610,Chris Pratt,Bryce Dallas Howard,Colin Trevorrow,NaN,nm1119880,nm0695435,nm0397171
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,0.410,896.2,0.590,2012,8.1,tt0848228,Robert Downey Jr.,Chris Evans,Joss Whedon,NaN,nm0923736,nm0000375,nm0262635

In [3]:
dir_won=[]
dir_nomi=[]
for i in range(len(df)):
    url="http://www.imdb.com/name/"+df.dir_id[i]+"/awards?ref_=nm_ql_2"
    soup=BeautifulSoup(ul.urlopen(url))
    try:
        result=soup.find("div", {"class": "desc"}).text
        s=[int(s) for s in result.split() if s.isdigit()]
        dir_won.append(s[0])
        dir_nomi.append(s[1])        
    except AttributeError:
        dir_won.append(" ")
        dir_nomi.append(" ")

In [4]:
df['dir_win']=dir_won
df['dir_nomi']=dir_nomi

In [10]:
df.to_excel('IMDb0430.xlsx', index=False)
print('Done')

Done

In [ ]:
df.to_excel('IMDb0426.xlsx', index=False)
print('Done')